footer{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribui o espaço entre e ao redor dos itens de forma mais eficaz */
    border-top: 4px solid  #00ff00;
    padding-top: 20px;
}